body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*1126 font of label*/
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
label {
  font-Weight: bold;
  font-size: large;
  color: rgb(138, 129, 194);
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
